<mat-card>
	<mat-card-content>
		<mat-toolbar>
			<button mat-icon-button [matMenuTriggerFor]='matMenu_toolbar'><mat-icon>more_vert</mat-icon></button>
			<mat-menu #matMenu_toolbar='matMenu' xPosition='before'>
				<button mat-menu-item (click)='tambah()'>
					<mat-icon>add</mat-icon>
					Tambah
				</button>
				<!-- <button mat-menu-item (click)='bukaFormReport()'>
					<mat-icon>print</mat-icon>
					Cetak
				</button> -->
			</mat-menu>
			<h5>Akun</h5>
			<span fxFlex='auto'></span>
			<mat-form-field floatPlaceholder='never' fxFlex='200px'>
				<input #filter matInput placeholder='Cari'>
			</mat-form-field>
		</mat-toolbar>
		<mat-table [dataSource]='matTableDataSource_Akun' dense matSort>
			<mat-header-row *matHeaderRowDef='columnToDisplay'></mat-header-row>
			<mat-row *matRowDef='let row; columns: columnToDisplay;' [style.borderBottomColor]="$akun == row ? 'transparent' : ''"></mat-row>
			<ng-container matColumnDef='uid'>
				<mat-header-cell *matHeaderCellDef mat-sort-header> Kode </mat-header-cell>
				<mat-cell *matCellDef='let row'> {{row.uid}} </mat-cell>
			</ng-container>
			<ng-container matColumnDef='provider'>
				<mat-header-cell *matHeaderCellDef mat-sort-header> Provider </mat-header-cell>
				<mat-cell *matCellDef='let row'> {{row.provider}} </mat-cell>
			</ng-container>
			<ng-container matColumnDef='photo'>
				<mat-header-cell *matHeaderCellDef mat-sort-header> Foto </mat-header-cell>
				<mat-cell *matCellDef='let row'> <img [src]='row.photo.base64' style='max-height: 56px; vertical-align: middle;'> </mat-cell>
			</ng-container>
			<ng-container matColumnDef='displayName'>
				<mat-header-cell *matHeaderCellDef mat-sort-header> Nama </mat-header-cell>
				<mat-cell *matCellDef='let row'> {{row.displayName}} </mat-cell>
			</ng-container>
			<ng-container matColumnDef='email'>
				<mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
				<mat-cell *matCellDef='let row'> {{row.email}} </mat-cell>
			</ng-container>
			<ng-container matColumnDef='role'>
				<mat-header-cell *matHeaderCellDef mat-sort-header> Hak Akses </mat-header-cell>
				<mat-cell *matCellDef='let row'> {{ role(row.role) }} </mat-cell>
			</ng-container>
			<ng-container matColumnDef='actions'>
				<mat-header-cell *matHeaderCellDef mat-sort-header>  </mat-header-cell>
				<mat-cell *matCellDef='let row'>
					<button mat-icon-button [matMenuTriggerFor]='matMenu_rowAction'><mat-icon>more_vert</mat-icon></button>
					<mat-menu #matMenu_rowAction='matMenu' xPosition='before'>
						<button (click)='ubah(row)' mat-menu-item>
							<mat-icon>mode_edit</mat-icon>
							Perbarui
						</button>
						<!-- <button (click)='cetak(row.uid)' mat-menu-item>
							<mat-icon>print</mat-icon>
							Cetak
						</button> -->
						<button (click)='hapus(row.uid)' mat-menu-item>
							<mat-icon>delete</mat-icon>
							Hapus
						</button>
					</mat-menu>
				</mat-cell>
			</ng-container>
			<ng-container matColumnDef='details'>
				<mat-header-cell *matHeaderCellDef mat-sort-header>  </mat-header-cell>
				<mat-cell *matCellDef='let row'> details </mat-cell>
			</ng-container>
		</mat-table>
		<mat-paginator color='accent' #paginator [length]='Akun$_.length' [pageIndex]='0' [pageSize]='10' [pageSizeOptions]='[10, 25, 50, 100]'></mat-paginator>
	</mat-card-content>
</mat-card>
