<mat-card>
	<mat-card-content>
		<mat-toolbar>
			<button mat-icon-button [matMenuTriggerFor]='matMenu_toolbar'><mat-icon>more_vert</mat-icon></button>
			<mat-menu #matMenu_toolbar='matMenu'>
				<button (click)='tambah()' mat-menu-item>
					<mat-icon>add</mat-icon>Tambah
				</button>
				<button (click)='bukaFormReport()' mat-menu-item>
					<mat-icon>print</mat-icon>Cetak
				</button>
			</mat-menu>
			<h5>Disposisi</h5>
			<span fxFlex='auto'></span>
			<mat-form-field floatPlaceholder='never' fxFlex='200px'>
				<input #filter matInput placeholder='Cari'>
			</mat-form-field>
		</mat-toolbar>
		<mat-table [dataSource]='matTableDataSource_Disposisi' dense matSort>
			<mat-header-row *matHeaderRowDef='columnToDisplay'></mat-header-row>
			<mat-row *matRowDef='let row; columns: columnToDisplay;' [style.borderBottomColor]="$surat == row ? 'transparent' : ''"></mat-row>

			<ng-container matColumnDef='id'>
				<mat-header-cell *matHeaderCellDef mat-sort-header> Kode </mat-header-cell>
				<mat-cell *matCellDef='let row'> {{ row.id }} </mat-cell>
			</ng-container>
			<ng-container matColumnDef='surat_pengirim'>
				<mat-header-cell *matHeaderCellDef mat-sort-header> Pengirim </mat-header-cell>
				<mat-cell *matCellDef='let row'> {{ row.$surat.pengirim }} </mat-cell>
			</ng-container>
			<ng-container matColumnDef='surat_perihal'>
				<mat-header-cell *matHeaderCellDef mat-sort-header> Perihal </mat-header-cell>
				<mat-cell *matCellDef='let row'> {{ row.$surat.perihal }} </mat-cell>
			</ng-container>
			<ng-container matColumnDef='surat_tglTerima'>
				<mat-header-cell *matHeaderCellDef mat-sort-header> Diterima </mat-header-cell>
				<mat-cell *matCellDef='let row'> {{formatWaktu(row.$surat.tglTerima)}} </mat-cell>
			</ng-container>
			<ng-container matColumnDef='akun_displayName'>
				<mat-header-cell *matHeaderCellDef mat-sort-header> Kepada </mat-header-cell>
				<mat-cell *matCellDef='let row'> {{row.$akun.displayName}} </mat-cell>
			</ng-container>
			<ng-container matColumnDef='actions'>
				<mat-header-cell *matHeaderCellDef mat-sort-header>  </mat-header-cell>
				<mat-cell *matCellDef='let row'>
					<button mat-icon-button [matMenuTriggerFor]='matMenu_rowAction'><mat-icon>more_vert</mat-icon></button>
					<mat-menu #matMenu_rowAction='matMenu' xPosition='before'>
						<button (click)='ubah(row)' mat-menu-item>
							<mat-icon>mode_edit</mat-icon>
							Perbarui
						</button>
						<button (click)='cetak(row.id)' mat-menu-item>
							<mat-icon>print</mat-icon>
							Cetak
						</button>
						<button (click)='hapus(row.id)' mat-menu-item>
							<mat-icon>delete</mat-icon>
							Hapus
						</button>
					</mat-menu>
				</mat-cell>
			</ng-container>
		</mat-table>
		<mat-paginator color='accent' #paginator [length]='matTableDataSource_Disposisi.data.length' [pageIndex]='0' [pageSize]='10' [pageSizeOptions]='[10, 25, 50, 100]'></mat-paginator>
	</mat-card-content>
</mat-card>
